NEXT_PUBLIC_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_API_URL=http://localhost:3001
# Put your deployed program id (base58). Example placeholder:
NEXT_PUBLIC_PROGRAM_ID=11111111111111111111111111111111
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU
